v2.0&3.0 - production/v3.0 - withMonitorFunction/monitorFunctions/__pycache__/monitorEpisodes.cpython-38.pyc
v2.0&3.0 - production/v3.0 - withMonitorFunction/monitorFunctions/__pycache__/monitorMaster.cpython-38.pyc
v2.0&3.0 - production/v3.0 - withMonitorFunction/monitorFunctions/__pycache__/monitorSeason.cpython-38.pyc
