.vscode/launch.json
__pycache__/config.cpython-38.pyc
__pycache__/settings_constants.cpython-38.pyc
logic/__pycache__/general_small_logic_functions.cpython-38.pyc
logic/__pycache__/non_pilot_worker.cpython-38.pyc
logic/__pycache__/outputs.cpython-38.pyc
logic/__pycache__/pilot_episode_worker.cpython-38.pyc
logic/__pycache__/plex.cpython-38.pyc
logic/__pycache__/workhorse.cpython-38.pyc
logic/interactive_functions/__pycache__/outputs.cpython-38.pyc
logic/interactive_functions/__pycache__/plex_interactive.cpython-38.pyc
logic/interactive_functions/__pycache__/sonarr_interactive.cpython-38.pyc
logic/interactive_functions/monitor_functions/__pycache__/monitor_master.cpython-38.pyc
logic/interactive_functions/monitor_functions/helpers/__pycache__/monitor_episodes.cpython-38.pyc
logic/interactive_functions/monitor_functions/helpers/__pycache__/monitor_season.cpython-38.pyc
logic/logical_functions/__pycache__/outputs.cpython-38.pyc
logic/logical_functions/__pycache__/plex_logical.cpython-38.pyc
logic/logical_functions/__pycache__/sonarr_logical.cpython-38.pyc
.vscode/extensions.json
.vscode/settings.json
